.body {
    -fx-background-color: #fff8dc;
    -fx-pref-width: 1133px;
    -fx-pref-height: 744px;
    -wigth: 1133px;
    -height: 744px;
}

.menu-bar {
    -fx-background-color: #6495ED;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-pref-height: 100px;
    -fx-min-height: 80px;
    -fx-max-height: 120px;
}

.menu-bar-left-section {
    -fx-alignment: center-left;
    -fx-spacing: 15;
}

.menu-bar-right-section {
    -fx-alignment: center-right;
    -fx-spacing: 10;
}

.menu-bar-item {
    -fx-alignment: center;
    -fx-background-color: fff8dc;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-max-width: 120px;
    -fx-max-height: 120px;
}