* {
    -fx-border-color: #6495ed;
    -fx-background-color: #fff8dc;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #6495ed;
    -fx-text-alignment: center;
    -fx-border-width: 0;
    -fx-padding: 4;
}

.root {
    -fx-background-color: #fff8dc;
    -fx-alignment: center;
    -fx-padding: 20;
}

.container {
    -fx-width: 100%;
    -fx-height: 100%;
    -fx-alignment: center;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #6495ed;
    -fx-spacing: 10;
    -fx-padding: 14;
}

.inner-container {
    -fx-width: 100%;
    -fx-height: 100%;
    -fx-alignment: center;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-spacing: 10;
}

.label-display {
    -fx-background-color: #f5f5f5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: #f5f5f5;
    -fx-min-width: 160;
    -fx-pref-width: 200;
    -fx-pref-height: 33;
}

.region {
    -fx-background-color: transparent;
    -fx-pref-width: 10%;
}

.transparent {
    -fx-background-color: transparent;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: transparent;
}

.dialog-pane > .content {
    -fx-background-color: #6495ed;
}

.dialog-pane > .content > * {
    -fx-background-color: #6495ed;
}

.chart {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-min-width: 300px;
    -fx-min-height: 300px;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-max-width: 300px;
    -fx-max-height: 300px;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #6495ed;
    -fx-font-size: 16px;
}

.chart-pie {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-min-width: 300px;
    -fx-min-height: 300px;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-max-width: 300px;
    -fx-max-height: 300px;
}

.chart-pie-label-line {
    -fx-stroke: #404040;
    -fx-fill: #404040;
}

.chart-pie .chart-pie-slice {
    -fx-background-color: -fx-pie-color !important;
}

.colored-pie-chart .chart-pie {
    -fx-background-color: transparent;
}

.colored-pie-chart .chart-pie-slice {
    -fx-background-color: -fx-pie-color !important;
    -fx-border-color: #fff8dc;
    -fx-border-width: 1px;
}

.chart-pie-label {
    -fx-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.chart-legend-item {
    -fx-text-fill: #404040;
}

.chart-legend-item-symbol {
    -fx-padding: 5px;
}

.date-picker .arrow-button {
    -fx-background-color: #6495ed;
    -fx-border-radius: 15px;
    -fx-order: -1;
}

.date-picker .text-field {
    -fx-padding: 0 5px 0 30px;
    -fx-order: 1;
}

.progress-bar {
    -fx-accent: #6495ed;
}

.progress-bar > .track {
    -fx-control-inner-background: #fff8dc;
    -fx-background-insets: 0;
}

.progress-bar > .bar {
    -fx-background-color: #6495ed;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 0;
}

